section.it-activity#it-activity
	.it-all-title
		|	Activity
	.it-activity__wrap
		.it-social
			.it-main-page__all-subtitle
				|    Social
				include social
		.it-main-page__all-subtitle
			|    Events
		.it-main-page__all-text
			|	Hello world, that text about parthners based on my bad english, but i need to  write something because use lorem ipsum — bad way
		ul.it-activity__events-list
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
		.it-main-page__all-subtitle
			|    Partners
		.it-main-page__all-text
			|    Hello world, that text about parthners based on my bad english, but i need to  write something because use lorem ipsum — bad way
		ul.it-activity__partners-list
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="assets/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="assets/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="assets/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="assets/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img