
section.it-article-more(data-it-article-more-wrap)
	.it-container
		.it-article-more__wrap
			.it-article-more__half.it-article-more__half--left
				.it-article-more__content
					.it-all-title
						|    How to creater MEW?
					p
						|	Running a full node is an important part of any cryptocurrency's ecosystem, as it helps keep the system decentralized and secure. But as a user, not everyone has the resources to broadcast and store the blockchain in their computer, which is strictly required when running the Ethereum Browser, Mist or any other full node wallet solutions. Mist can be used as a simple wallet to send and receive payments, but it requires users to run a full node and it takes a while to sync. If you want to create a new wallet without having to download the blockchain or simply haven't done so in a long time and don't wish to download a big part of it, you can simply use the web based application, MyEtherWallet.
					p
						|	My Ether Wallet is not a standard Web Wallet. It does not allow you to create an account and to store your Ether on their servers, they simply allow you create a wallet, which is yours to store and keep safe, and to broadcast your transactions on the blockchain through their full node. In this guide we'll show you how to create a new wallet, back it up and how to send a transaction, both online and offline.
					ul.it-article-more__list
						li
							|	Sticker
						li
							|	Fitness tracker
						li
							|	KeyFobs
						li
							|	Mobile phones
						li
							|	Watches
					.it-all-title
						|    You need that before use wallet
					p
						|	Running a full node is an important part of any cryptocurrency's ecosystem, as it helps keep the system decentralized and secure. But as a user, not everyone has the resources to broadcast and store the blockchain in their computer, which is strictly required when running the Ethereum Browser, Mist or any other full node wallet solutions.
					p
						|	Mist can be used as a simple wallet to send and receive payments, but it requires users to run a full node and it takes a while to sync. If you want to create a new wallet without having to download the blockchain or simply haven't done so in a long time and don't wish to download a big part of it, you can simply use the web based application,
					cite
						|    The centuries-old history and culture of India, majestic architectural monuments and museums of Delhi, Agra and Mumbai have a unique attractive force. Vladimir Putin
					p
						|	The performance reached its peak on a song called “I Got the Juice.” During the chorus — a percussive trap riff that will be best appreciated blasting out of an expensive car stereo — Monáe dropped to her knees below a disco ball as her dancers swarmed around her, fanning her with large exaggerated motions, less to cool her off than to emphasize the white-hot intensity of her moves. While she gyrated on the ground, the women danced around her in a circular “Soul Train” line: They did the Milly Rock, spun in tight twirls, snapped their fingers, fanned themselves and their own behinds. As the song trilled its last few beats, Monáe and her dancers slowed, laughing and wiping their brows. The room burst into applause.
					.it-article-more__table-wrap#it-article-more__table-wrap(data-scroll-hide-wrap)
						table.it-article-more__table(data-scroll-hide)
							tbody
								tr
									th
										|	Column 1
									th
										|	Column 1
									th
										|	Column 1
									th
										|	Column 1
								tr
									td
										| 78%
									td
										| Column 1
									td
										| Column 1
									td
										| Column 1
								tr
									td
										| 78%
									td
										| Column 1
									td
										| 78%
									td
										| 78%
								tr
									td
										| 78%
									td
										| Column 1
									td
										| 3
									td
										| 4
								tr
									td
										| 78%
									td
										| Column 1
									td
										| 1234 pt
									td
										| 1234 pt
					.it-all-title
						|    How to remove MEW?
					p
						|	Running a full node is an important part of any cryptocurrency's ecosystem, as it helps keep the system decentralized and secure. But as a user, not everyone has the resources to broadcast and store the blockchain in their computer, which is strictly required when running the Ethereum Browser, Mist or any other full node wallet solutions.
					p
						|	Mist can be used as a simple wallet to send and receive payments, but it requires users to run a full node and it takes a while to sync. If you want to create a new wallet without having to download the blockchain or simply haven't done so in a long time and don't wish to download a big part of it, you can simply use the web based application,
					figure
						img(src="assets/img/crypto/article-more/1.jpg", alt='')
						figcaption
							em
								|	Press this button to remove MEW
					p
						|	The performance reached its peak on a song called “I Got the Juice.” During the chorus — a percussive trap riff that will be best appreciated blasting out of an expensive car stereo — Monáe dropped to her knees below a disco ball as her dancers swarmed around her, fanning her with large exaggerated motions, less to cool her off than to emphasize the white-hot intensity of her moves. While she gyrated on the ground, the women danced around her in a circular “Soul Train” line: They did the Milly Rock, spun in tight twirls, snapped their fingers, fanned themselves and their own behinds. As the song trilled its last few beats, Monáe and her dancers slowed, laughing and wiping their brows. The room burst into applause.
					.it-video
						.it-video__video-wrap
							.it-video__video-spacer.it-video__video-spacer--16x9
							iframe(width='100%', height='315', src='https://www.youtube.com/embed/33X5PHz7cpU', allow='autoplay; encrypted-media', allowfullscreen='').it-video__video-content
					.it-article-more__next(data-stop-scroll-nav)
						.it-all-title
							|    Where to next?
						ul.it-article-more__next-list
							li
								a(href="#")
									|    Home security tips
							li
								a(href="#")
									|    Home insurance policy types
							li
								a(href="#")
									|    All you need to know about home insurance
					.it-article-more__invest
						.it-all-title
							|    Are you ready to invest Ethereum?
						.it-article-more__buttons
							a(href="#").it-article-more__btn.it-btn
								|	Go to ico list
			.it-article-more__half.it-article-more__half--right
				.it-article-more__nav(data-it-article-more-nav)
					.it-article-more__nav-title
						|	in this article
					ul.it-article-more__nav-list
						li
							a(href="#")
								|	How to create MEW?
						li
							a(href="#")
								|	You need that before use wallet
						li
							a(href="#")
								|	How to remove MEW?

