section.it-article
	.it-container
		.it-article__wrap
			.it-article__half.it-article__half--left
				.it-article__top
					.it-article__under-title
						|	Ethereum cryptocurrency's ecosystem
					.it-article__title
						|	In Brexit, Economic Reality Competes With Nostalgia for Bygone Days
					.it-article__desc.it-article__desc--desktop
						|	Branded “idiots,” residents of Grimsby, England, choose romance for a dying fishing industry over another that is thriving
				.it-article__bottom
					.it-article__bottom-half.it-article__bottom-half--left
						.it-article__time.it-article__time--icon-1
							span.it-article__time-title
								|	Read time:
							span.it-article__time-value
								|	7 min
					.it-article__bottom-half.it-article__bottom-half--right
						.it-article__time.it-article__time--icon-2
							span.it-article__time-title
								|    Published on
							span.it-article__time-value
								|    22 February 18
			.it-article__half.it-article__half--right
				.it-article__img-box
					img(src="assets/img/crypto/article/1.jpg", alt='').it-article__img
		.it-article__desc.it-article__desc--mobile
			|    Branded “idiots,” residents of Grimsby, England, choose romance for a dying fishing industry over another that is thriving