section.it-breadcrumbs
    a(href="#").it-breadcrumbs__link
        |   Home
    span.it-breadcrumbs__separator
        |  &#62; &#32;
    a(href="#").it-breadcrumbs__link
        |   Upcoming ICOs
    span.it-breadcrumbs__separator
        |  &#62; &#32;
    span
        | Simply Vital Health
