//section.it-card(data-main-sidebar)
//		.it-card__wrap
//			.it-card__item
//				.it-card__top
//					.it-card__top-half.it-card__top-half--left
//						.it-card__img-box
//							img(src="assets/img/crypto/card/1.png", alt='').it-card__img
//					.it-card__top-half.it-card__top-half--right
//						.it-card__top-content
//							.it-card__model-title
//								|	Simply Vital Health (WTF)
//							.it-card__subtitle
//								|	upcoming presale
//				.it-card__center
//					.it-card__center-half.it-card__center-half--left
//						.it-card__rank
//							.it-card__rank-top
//								.it-card__rank-number
//									|	124
//								.it-card__rank-text
//									|	ICO RANK
//							.it-card__rank-img-box
//								img(src="assets/img/crypto/currency/logo.png", alt='').it-card__rank-img
//						//.it-card__center-content
//						//	.it-card__center-title
//						//		|	Norm ++
//						//	a(href="#").it-card__center-subtitle
//						//		|	Details
//					.it-card__center-half.it-card__center-half--right
//						.it-card__start
//							|	Presale Start
//						.it-card__start-date
//							|	31 Apr, 14:00 UTC
//						.it-card__end
//							|	Ends
//						.it-card__end-date
//							|	15 Jun, 00:00 UTC
//				.it-card__bottom
//					.it-card__line-title
//						|	Sold
//						span.it-card__line-percent
//							|	13%
//					.it-card__line
//						.it-card__inner-line
//						.it-card__line-numeric
//							span(data-card-number)
//								|	325.000
//							span
//								|	/ 2.500.000 USD
//				a(href="#").it-card__link.it-link
//					| Beta live demo
//				.it-card__buttons
//					a(href="#").it-card__btn.it-btn
//						|    Go  to website
//				.it-card__buttons
//					a(href="#").it-card__btn.it-btn.it-btn--transparent
//						|    Whitepaper
section.it-card(data-main-sidebar)
	.it-card__wrap
		.it-card__item
			.it-card__top
				.it-card__top-half.it-card__top-half--left
					.it-card__img-box
						img(src="assets/img/crypto/card/1.png", alt='').it-card__img
				.it-card__top-half.it-card__top-half--right
					.it-card__top-content
						.it-card__model-title
							|	Simply Vital Health (WTF)
						.it-card__subtitle
							|	upcoming presale
			.it-card__center
				.it-card__center-half.it-card__center-half--left
					.it-card__rank
						.it-card__rank-top
							.it-card__rank-number
								|	124
							.it-card__rank-text
								|	ICO RANK
						.it-card__rank-img-box
							img(src="assets/img/crypto/currency/logo.png", alt='').it-card__rank-img
					//.it-card__center-content
					//	.it-card__center-title
					//		|	Norm ++
					//	a(href="#").it-card__center-subtitle
					//		|	Details
				.it-card__center-half.it-card__center-half--right
					.it-card__start
						|	Presale Start
					.it-card__start-date
						|	31 Apr, 14:00 UTC
					.it-card__end
						|	Ends
					.it-card__end-date
						|	15 Jun, 00:00 UTC
			.it-card__bottom
				//.it-card__line-title
				//	|	Sold
				//	span.it-card__line-percent
				//		|	13%
				//.it-card__line
				//	.it-card__inner-line
				//	.it-card__line-numeric
				//		span(data-card-number)
				//			|	325.000
				//		span
				//			|	/ 2.500.000 USD
				.it-card__goal
					.it-card__goal-wrap
						.it-card__goal-text
							|	Goal
						.it-card__goal-numeric
							|	$9.000.000
			a(href="#").it-card__link.it-link
				| Beta live demo
			.it-card__buttons
				a(href="#").it-card__btn.it-btn
					|    Go  to website
			.it-card__buttons
				a(href="#").it-card__btn.it-btn.it-btn--transparent
					|    Whitepaper
