section.it-categories
	.it-container.it-container--full
		.it-all-title.it-all-title--container
			|    Most proit ICO categories
		.it-categories__wrap
			ul.it-categories__list
				li.it-categories__item
					a(href="#").it-categories__link
						.it-categories__content
							.it-categories__title
								| Platforms
							.it-categories__value
								span.it-categories__brackets
									|(
								span.it-categories__number
									|338
								span.it-categories__brackets
									|)
								span.it-categories__text
									|	project’s
						.it-categories__img-box
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/categories/1.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/categories/1-hov.svg", alt='')
						.it-categories__arrow
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/base/arrow-next.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/base/arrow-next-hov.svg", alt='')
				li.it-categories__item
					a(href="#").it-categories__link
						.it-categories__content
							.it-categories__title
								| Communications
							.it-categories__value
								span.it-categories__brackets
									| (
								span.it-categories__number
									|3384523
								span.it-categories__brackets
									| )
								span.it-categories__text
									|	project’s
						.it-categories__img-box
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/categories/2.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/categories/2-hov.svg", alt='')
						.it-categories__arrow
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/base/arrow-next.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/base/arrow-next-hov.svg", alt='')
				li.it-categories__item
					a(href="#").it-categories__link
						.it-categories__content
							.it-categories__title
								| Finance
							.it-categories__value
								span.it-categories__brackets
									|(
								span.it-categories__number
									|338
								span.it-categories__brackets
									|)
								span.it-categories__text
									|	project’s
						.it-categories__img-box
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/categories/3.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/categories/3-hov.svg", alt='')
						.it-categories__arrow
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/base/arrow-next.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/base/arrow-next-hov.svg", alt='')
				li.it-categories__item
					a(href="#").it-categories__link
						.it-categories__content
							.it-categories__title
								| Gaming & VR
							.it-categories__value
								span.it-categories__brackets
									|(
								span.it-categories__number
									|338
								span.it-categories__brackets
									|)
								span.it-categories__text
									|	project’s
						.it-categories__img-box
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/categories/4.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/categories/4-hov.svg", alt='')
						.it-categories__arrow
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/base/arrow-next.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/base/arrow-next-hov.svg", alt='')
				li.it-categories__item
					a(href="#").it-categories__link
						.it-categories__content
							.it-categories__title
								| Privacy & Security
							.it-categories__value
								span.it-categories__brackets
									|(
								span.it-categories__number
									|3382234
								span.it-categories__brackets
									|)
								span.it-categories__text
									|	project’s
						.it-categories__img-box
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/categories/5.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/categories/5-hov.svg", alt='')
						.it-categories__arrow
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/base/arrow-next.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/base/arrow-next-hov.svg", alt='')
				li.it-categories__item
					a(href="#").it-categories__link
						.it-categories__content
							.it-categories__title
								| Healthcare
							.it-categories__value
								span.it-categories__brackets
									|(
								span.it-categories__number
									|338
								span.it-categories__brackets
									|)
								span.it-categories__text
									|	project’s
						.it-categories__img-box
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/categories/6.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/categories/6-hov.svg", alt='')
						.it-categories__arrow
							.it-categories__inner-img-box
								img.it-categories__img(src="assets/img/crypto/base/arrow-next.svg", alt='')
								img.it-categories__img.it-categories__img--hov(src="assets/img/crypto/base/arrow-next-hov.svg", alt='')
			.it-categories__buttons-wrap
				.it-categories__buttons
					.it-btn.it-categories__btn
						|	browse all ico
				.it-categories__buttons.it-categories__buttons--size.it-categories__buttons--hide
					.it-btn.it-categories__btn.it-btn--all-transparent
						|	What is ICO?