.it-chart
	ul.it-chart__wrap
		li.it-chart__outer-item
			.it-chart__title(data-it-chart-title)
				|    Token Distribution
			.it-chart__wrap(data-it-chart-wrap)
				.it-chart__view(data-it-chart="{\"cols\": [{\"id\":\"1\",\"label\":\"Token\", \"type\":\"string\"},{\"id\":\"\",\"label\":\"Value\", \"type\":\"number\"}],\"rows\": [{\"c\":[{\"v\":\"MinersTest\"},{\"v\":3}]},{\"c\":[{\"v\":\"Presale\"},{\"v\":1}]},{\"c\":[{\"v\":\"Crowdsale\"},{\"v\":0.1}]},{\"c\":[{\"v\":\"Developers\"},{\"v\":1}]},{\"c\":[{\"v\":\"Bounty campaign\"},{\"v\":2}]},{\"c\":[{\"v\":\"Partnership\"},{\"v\":2}] },{\"c\":[{\"v\":\"Ptttteesttartnership\"},{\"v\":77}] }]   }")
				.it-chart__legend
					ul.it-chart__list(data-it-chart-list)
		li.it-chart__outer-item
			.it-chart__title(data-it-chart-title)
				|    Token Distribution
			.it-chart__wrap(data-it-chart-wrap)
				.it-chart__view(data-it-chart="{\"cols\": [{\"id\":\"2\",\"label\":\"Token\", \"type\":\"string\"},{\"id\":\"\",\"label\":\"Value\", \"type\":\"number\"}],\"rows\": [{\"c\":[{\"v\":\"Miners\"},{\"v\":3}]},{\"c\":[{\"v\":\"Presale\"},{\"v\":33}]},{\"c\":[{\"v\":\"Crowdsale\"},{\"v\":5.33}]},{\"c\":[{\"v\":\"Developers\"},{\"v\":1}]},{\"c\":[{\"v\":\"Bounty campaign\"},{\"v\":2}]},{\"c\":[{\"v\":\"Partnership\"},{\"v\":2}]}]}")
				.it-chart__legend
					ul.it-chart__list(data-it-chart-list)
		li.it-chart__outer-item
			.it-chart__title(data-it-chart-title)
				|    Token Distribution
			.it-chart__wrap(data-it-chart-wrap)
				.it-chart__view(data-it-chart="{\"cols\": [{\"id\":\"5\",\"label\":\"Token\", \"type\":\"string\"},{\"id\":\"\",\"label\":\"Value\", \"type\":\"number\"}],\"rows\": [{\"c\":[{\"v\":\"Miners\"},{\"v\":3}]},{\"c\":[{\"v\":\"Presale\"},{\"v\":4}]},{\"c\":[{\"v\":\"Crowdsale\"},{\"v\":5.33}]},{\"c\":[{\"v\":\"Developers\"},{\"v\":1}]},{\"c\":[{\"v\":\"Bounty campaign\"},{\"v\":2}]},{\"c\":[{\"v\":\"Partnership\"},{\"v\":444}]}]}")
				.it-chart__legend
					ul.it-chart__list(data-it-chart-list)
