section.it-currency
	.it-container
		ul.it-currency__wrap
			li.it-currency__item(data-hide-wrap)
				.it-currency__half.it-currency__half--size-1
					.it-currency__img-box
						img(src="assets/img/crypto/currency/1.png", alt='').it-currency__img
					.it-currency__content
						.it-currency__title
							|	Simply Vital Health
							span.it-currency__inner-title
								|	WTF
						.it-currency__desc
							|	Blockchain platform that connects every market participant blockchain platform that connects every market participant connects participant...
				.it-currency__half.it-currency__half--size-2
					.it-currency__status
						.it-currency__status-title
							|	Pre-sale
						.it-currency__status-date
							span
								|Start
							span
								|15 Apr
							span
								|— End
							span
								|15 jun
				.it-currency__half.it-currency__half--size-3
					.it-currency__buttons
						a(href="#").it-currency__btn.it-btn
							|	Visit website
				.it-currency__half.it-currency__half--size-4
					.it-currency__rank
						.it-currency__rank-top
							.it-currency__rank-number
								|	124
							.it-currency__rank-text
								|	ICO RANK
						.it-currency__rank-img-box
							img(src="assets/img/crypto/currency/logo.png", alt='').it-currency__rank-img
				.it-currency__half.it-currency__half--size-5(data-hide-half)
					.it-currency__info
						ul.it-currency__info-list
							li.it-currency__info-item.it-currency__info-item--size
								.it-currency__info-key
									|	Financial goal
								.it-currency__info-value
									b
										|850 000 000 USD
							li.it-currency__info-item.it-currency__info-item--size
								.it-currency__info-key
									|	Project stage
								.it-currency__info-value
									b
										|	BETA VERSION
							li.it-currency__info-item
								.it-currency__info-key
									|	Total supply
								.it-currency__info-value
									|	1.000.000 WTF
							li.it-currency__info-item
								.it-currency__info-key
									|	For sale
								.it-currency__info-value
									|	50% tokens
							li.it-currency__info-item
								.it-currency__info-key
									|	Bonus
								.it-currency__info-value
									|	20%
							li.it-currency__info-item
								.it-currency__info-key
									|	Min purchasre
								.it-currency__info-value
									|	180 USD
				.it-currency__half.it-currency__half--size-6(data-hide-half)
					.it-currency__more-content
						.it-currency__top
							.it-currency__more-buttons
								a(href="#").it-currency__more-btn
										|	More details
						.it-currency__tags
							ul.it-currency__tags-list
								li.it-currency__tags-item
									|	Games & Entertainment
								li.it-currency__tags-item
									|	Ethereum
								li.it-currency__tags-item
									|	Whitelist: Until 1 aprill 18
								li.it-currency__tags-item
									|	China
								li.it-currency__tags-item
									|	KYC: No
								li.it-currency__tags-item
									|	Escrow: No
								li.it-currency__tags-item
									|	Banned 9 countries
				.it-currency__half.it-currency__half--size-7
					.it-currency__hide-btn(data-hide-btn="Hide infomation")
						span.it-currency__hide-btn-text(data-hide-btn-text)
							|	Show key iformation
				.it-currency__half.it-currency__half--size-8
					.it-currency__buttons
						a(href="#").it-currency__btn.it-btn
							|    Visit website
					.it-currency__more-buttons
						a(href="#").it-currency__more-btn
							|    More details
			li.it-currency__item(data-hide-wrap)
				.it-currency__half.it-currency__half--size-1
					.it-currency__img-box
						img(src="assets/img/crypto/currency/1.png", alt='').it-currency__img
					.it-currency__content
						.it-currency__title
							|	Simply Vital Health
							span.it-currency__inner-title
								|	WTF
						.it-currency__desc
							|	Blockchain platform that connects every market participant blockchain platform that connects every market participant connects participant...
				.it-currency__half.it-currency__half--size-2
					.it-currency__status
						.it-currency__status-title
							|	Pre-sale
						.it-currency__status-date
							span
								|Start
							span
								|15 Apr
							span
								|— End
							span
								|15 jun
				.it-currency__half.it-currency__half--size-3
					.it-currency__buttons
						a(href="#").it-currency__btn.it-btn
							|	Visit website
				.it-currency__half.it-currency__half--size-4
					.it-currency__rank
						.it-currency__rank-top
							.it-currency__rank-number
								|	124
							.it-currency__rank-text
								|	ICO RANK
						.it-currency__rank-img-box
							img(src="assets/img/crypto/currency/logo.png", alt='').it-currency__rank-img
				.it-currency__half.it-currency__half--size-5(data-hide-half)
					.it-currency__info
						ul.it-currency__info-list
							li.it-currency__info-item.it-currency__info-item--size
								.it-currency__info-key
									|	Financial goal
								.it-currency__info-value
									b
										|850 000 000 USD
							li.it-currency__info-item.it-currency__info-item--size
								.it-currency__info-key
									|	Project stage
								.it-currency__info-value
									b
										|	BETA VERSION
							li.it-currency__info-item
								.it-currency__info-key
									|	Total supply
								.it-currency__info-value
									|	1.000.000 WTF
							li.it-currency__info-item
								.it-currency__info-key
									|	For sale
								.it-currency__info-value
									|	50% tokens
							li.it-currency__info-item
								.it-currency__info-key
									|	Bonus
								.it-currency__info-value
									|	20%
							li.it-currency__info-item
								.it-currency__info-key
									|	Min purchasre
								.it-currency__info-value
									|	180 USD
				.it-currency__half.it-currency__half--size-6(data-hide-half)
					.it-currency__more-content
						.it-currency__top
							.it-currency__more-buttons
								a(href="#").it-currency__more-btn
										|	More details
						.it-currency__tags
							ul.it-currency__tags-list
								li.it-currency__tags-item
									|	Games & Entertainment
								li.it-currency__tags-item
									|	Ethereum
								li.it-currency__tags-item
									|	Whitelist: Until 1 aprill 18
								li.it-currency__tags-item
									|	China
								li.it-currency__tags-item
									|	KYC: No
								li.it-currency__tags-item
									|	Escrow: No
								li.it-currency__tags-item
									|	Banned 9 countries
				.it-currency__half.it-currency__half--size-7
					.it-currency__hide-btn(data-hide-btn="Hide infomation")
						span.it-currency__hide-btn-text(data-hide-btn-text)
							|	Show key iformation
				.it-currency__half.it-currency__half--size-8
					.it-currency__buttons
						a(href="#").it-currency__btn.it-btn
							|    Visit website
					.it-currency__more-buttons
						a(href="#").it-currency__more-btn
							|    More details
