nav.it-filter
	.it-filter__wrap
		ul.it-filter__list
			li.it-filter__item
				.it-filter__trigger(data-trigger='2')
					|	ICOs
				.it-filter__checkbox-outer-wrap(data-it-nav="2")
					form(action="" method="").it-filter__checkbox-content
						ul.it-filter__checkbox-wrap
							li.it-filter__checkbox-item
								label.it-checkbox
									input.it-checkbox__default(type="checkbox" name="AGREE" )
									span.it-checkbox__pseudo
									span.it-checkbox__text
										span.it-checkbox__key
											|    Upcoming pre-sale
										span.it-checkbox__value
											|	(94)
							li.it-filter__checkbox-item
								label.it-checkbox
									input.it-checkbox__default(type="checkbox" name="AGREE" )
									span.it-checkbox__pseudo
									span.it-checkbox__text
										span.it-checkbox__key
											|   Pre-sale
										span.it-checkbox__value
											|    (56)
						.it-filter__checkbox-trigger
							label.it-checkbox-trigger
								input.it-filter__checkbox-trigger-default(type="checkbox" name="AGREE" )
								span.it-filter__checkbox-trigger-text
									span.it-checkbox__key
										|   Pre-sale
									span.it-checkbox__value
										|    (56)
						.it-filter__bottom
							.it-filter__bottom-half.it-filter__bottom-half--left
								button(type="reset" ).it-filter__btn.it-filter__btn--clear
									|	Clear
							.it-filter__bottom-half.it-filter__bottom-half--right
								button(type="submit" ).it-filter__btn
									|    Apply
			li.it-filter__item
				.it-filter__trigger(data-trigger='3')
					|    ICOs
				.it-filter__checkbox-outer-wrap.it-filter__checkbox-outer-wrap--size(data-it-nav="3")
					form(action="" method="").it-filter__checkbox-content
						ul.it-filter__checkbox-wrap.it-filter__checkbox-wrap--height
							li.it-filter__checkbox-item
								label.it-checkbox
									input.it-checkbox__default(type="checkbox" name[]="AGREE1" )
									span.it-checkbox__pseudo
									span.it-checkbox__text
										span.it-checkbox__key
											|    Upcoming pre-sale
										span.it-checkbox__value
											|	(94)
							li.it-filter__checkbox-item
								label.it-checkbox
									input.it-checkbox__default(type="checkbox" name[]="AGREE2" )
									span.it-checkbox__pseudo
									span.it-checkbox__text
										span.it-checkbox__key
											|   Data Storage & Management (12)
										span.it-checkbox__value
							li.it-filter__checkbox-item
								label.it-checkbox
									input.it-checkbox__default(type="checkbox" name[]="AGREE3" )
									span.it-checkbox__pseudo
									span.it-checkbox__text
										span.it-checkbox__key
											|   Data Storage & Management (1342)
										span.it-checkbox__value
							li.it-filter__checkbox-item
								label.it-checkbox
									input.it-checkbox__default(type="checkbox" name[]="AGREE4" )
									span.it-checkbox__pseudo
									span.it-checkbox__text
										span.it-checkbox__key
											|   Pre-sale
										span.it-checkbox__value
						.it-filter__bottom.it-filter__bottom--line
							.it-filter__bottom-half.it-filter__bottom-half--left
								button(type="reset" ).it-filter__btn.it-filter__btn--clear
									|	Clear
							.it-filter__bottom-half.it-filter__bottom-half--right
								button(type="submit" ).it-filter__btn
									|    Apply


