section.it-filter-options
	.it-filter-options__wrap
		span.it-filter-options__title
			|	Sort by
		.it-filter-options__inner-wrap
			ul.it-filter-options__list(data-filter-wrap)
				li(data-filter-item).active
					|    Goal
				li(data-filter-item)
					|    Price
				li(data-filter-item)
					|    Show