footer.it-footer(data-main-footer)
	.it-container
		.it-footer__wrap
			.it-footer__inner-wrap
				a.it-logo(href='/').it-footer__logo
					.it-logo__img-box
						img.it-logo__img(src='assets/img/crypto/header/logo.svg', alt='')
				.it-footer__desc
					|	All rights reserved
.it-footer-mobile
	.it-footer-mobile__half.it-footer-mobile__half--left
		.it-footer-mobile__date
			|    Presale Start
			br
			span
				|    31 Apr
			|    Ends
			span
				|    15 Jun.
	.it-footer-mobile__half.it-footer-mobile__half--right
		.it-footer-mobile__buttons
			a(href="#").it-footer-mobile__btn.it-btn
				|    Go  to website


