section.it-guides
	.it-container.it-container--full
		.it-all-title.it-all-title--container
			|   Popular guides
		.it-guides__wrap
			ul.it-guides__list(data-masonry-wrap)
				li.it-guides__item
					a(href="#").it-guides__inner-item
						.it-guides__img-box
							img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|	Putincoin guide
							.it-guides__desc
								|	Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						.it-guides__img-box
							img(src="assets/img/crypto/guides/2.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|	Neo guide
							.it-guides__desc
								|	Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|	Putincoin guide
							.it-guides__desc
								|	Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|	Putincoin guide
							.it-guides__desc
								|	Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
					//.it-guides__img-box
					//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
					.it-guides__content
						.it-guides__title
							|	Putincoin guide
						.it-guides__desc
							|	Everything you need to know about the wonderful world of car insurance.
						.it-guides__bottom
							.it-guides__bottom-half.it-guides__bottom-half--left
								.it-guides__time.it-article__time--icon-1
									span.it-guides__time-title
										|    Read time:
									span.it-guides__time-value
										|    7 min
							.it-guides__bottom-half.it-guides__bottom-half--right
								.it-guides__time.it-guides__time--icon-2
									span.it-guides__time-value
										|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|    Putincoin guide
							.it-guides__desc
								|    Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|    Putincoin guide
							.it-guides__desc
								|    Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|    Putincoin guide
							.it-guides__desc
								|    Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|    Putincoin guide
							.it-guides__desc
								|    Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
				li.it-guides__item
					a(href="#").it-guides__inner-item
						//.it-guides__img-box
						//	img(src="assets/img/crypto/guides/1.jpg", alt='').it-guides__img
						.it-guides__content
							.it-guides__title
								|    Putincoin guide
							.it-guides__desc
								|    Everything you need to know about the wonderful world of car insurance.
							.it-guides__bottom
								.it-guides__bottom-half.it-guides__bottom-half--left
									.it-guides__time.it-article__time--icon-1
										span.it-guides__time-title
											|    Read time:
										span.it-guides__time-value
											|    7 min
								.it-guides__bottom-half.it-guides__bottom-half--right
									.it-guides__time.it-guides__time--icon-2
										span.it-guides__time-value
											|    22.02.18
			.it-guides__buttons
				a(href="#").it-guides__btn.it-btn
					|	More guides
