section.it-invest.it-all--indent
	.it-container
		.it-all-title.it-all-title--size
			|	Invest smarter with Crypto Assets rank
		.it-invest__wrap
			ul.it-invest__list
				li.it-invest__item
					a(href="#").it-invest__link
						.it-invest__top
							.it-invest__top-half.it-invest__top-half--left
								.it-invest__img-box
									.it-invest__inner-img-box
										img(src="assets/img/crypto/invest/1.svg", alt='').it-invest__img
										img(src="assets/img/crypto/invest/1-hov.svg", alt='').it-invest__img.it-invest__img--hov
							.it-invest__top-half.it-invest__top-half--right
								.it-invest__value.it-invest__value--mobile
									span.it-invest__number
										|	3383452
									span.it-invest__text
										|&#32; projects
						.it-invest__bottom
							span.it-invest__title
								|	Upcoming ICO
							span.it-invest__value
									|&#32;(
									span.it-invest__number
										|338
									|)
				li.it-invest__item
					a(href="#").it-invest__link
						.it-invest__top
							.it-invest__top-half.it-invest__top-half--left
								.it-invest__img-box
									.it-invest__inner-img-box
										img(src="assets/img/crypto/invest/2.svg", alt='').it-invest__img
										img(src="assets/img/crypto/invest/2-hov.svg", alt='').it-invest__img.it-invest__img--hov
							.it-invest__top-half.it-invest__top-half--right
								.it-invest__value.it-invest__value--mobile
									span.it-invest__number
										|	338
									span.it-invest__text
										|&#32; projects
						.it-invest__bottom
							span.it-invest__title
								|	Active ICO
							span.it-invest__value
									|&#32;(
									span.it-invest__number
										|338453
									|)
				li.it-invest__item
					a(href="#").it-invest__link
						.it-invest__top
							.it-invest__top-half.it-invest__top-half--left
								.it-invest__img-box
									.it-invest__inner-img-box
										img(src="assets/img/crypto/invest/3.svg", alt='').it-invest__img
										img(src="assets/img/crypto/invest/3-hov.svg", alt='').it-invest__img.it-invest__img--hov
							.it-invest__top-half.it-invest__top-half--right
								.it-invest__value.it-invest__value--mobile
									span.it-invest__number
										|	338
									span.it-invest__text
										|&#32; projects
						.it-invest__bottom
							span.it-invest__title
								|	Ended ICO
							span.it-invest__value
									|&#32;(
									span.it-invest__number
										|338
									|)
				li.it-invest__item.it-invest__item--hide-desktop
					a(href="#").it-invest__link
						.it-invest__top
							.it-invest__top-half.it-invest__top-half--left
								.it-invest__img-box
									.it-invest__inner-img-box
										img(src="assets/img/crypto/invest/4.svg", alt='').it-invest__img
										img(src="assets/img/crypto/invest/4-hov.svg", alt='').it-invest__img.it-invest__img--hov
							.it-invest__top-half.it-invest__top-half--right
								.it-invest__value.it-invest__value--mobile
									span.it-invest__number
										|	338
									span.it-invest__text
										|&#32; projects
						.it-invest__bottom
							span.it-invest__title
								|	All ICO
							span.it-invest__value
									|&#32;(
									span.it-invest__number
										|338
									|)