nav.it-main-nav-2
	.it-main-nav-2__wrap#it-main-nav-2__wrap(data-scroll-hide-wrap)
		ul.it-main-nav-2__list#it-main-nav-2__list(data-scroll-hide)
			li
				a(href="#it-overview" data-scroll-nav)
					|	Overview
			li
				a(href="#it-token" data-scroll-nav)
					|	Token
			li
				a(href="#it-team" data-scroll-nav)
					|	Team
			li
				a(href="#it-roadmap" data-scroll-nav)
					|	Roadmap
			li
				a(href="#it-activity" data-scroll-nav)
					|	Activity
			li
				a(href="#it-rating" data-scroll-nav)
					|	Rating