section.it-order.it-all--top-indent
	.it-container
		.it-order__wrap
			.it-order__half.it-order__half--left
				.it-order__content
					.it-order__title
						|	Order a review, be expert
					.it-order__desc
						|	Everything you need to know about the wonderful world of car insurance.
					.it-order__buttons
						button.it-order__btn.it-btn
							|	Oreder now
			.it-order__half.it-order__half--right
				.it-order__img-box
					img(src="assets/img/crypto/order/1.jpg", alt='').it-order__img