section.it-overview#it-overview
	.it-all-title
		|	Overview
	.it-overview__wrap
		ul.it-overview__category-list
			li.it-overview__category-item
				span.it-overview__category-key
					|	Simply Vital Health (WTF)&#32
				span.it-overview__category-value
					a(href="#")
						|	USA
					|/ Vietnam
			li.it-overview__category-item
				span.it-overview__category-key
					|Category
				span.it-overview__category-value
					a(href="#")
						|Games & Entertaiment
					|/ Trading bot

		.it-main-page__all-text
			|	The experience layer of the decentralized internet. Cardstack is an open-source framework and consensus protocol that makes blockchains usable and scalable for the mass market, creating a decentralized software ecosystem that can challenge today’s digital superpowers.
		.it-main-page__all-video
			iframe(width='100%', height='320', src='https://www.youtube.com/embed/QH6eDF_IOWk', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

		.it-main-page__all-title
			|	Project stage
		.it-main-page__all-text
			|    Shaping the Idea. (pre-announcement)

		.it-main-page__all-title
			|	Problem
		.it-main-page__all-text(data-show-more-item="overview")
			|    We are also developing and suggesting you to try out the groundbreaking technology Hive, which is together with the business platform Profit will allow you not only to create smart-contracts, add your business and perform transactions without any fees, but also to test efficiency and safety of all services yourself.
			|    We are also developing and suggesting you to try out the groundbreaking technology Hive, which is together with the business platform Profit will allow you not only to create smart-contracts, add your business and perform transactions without any fees, but also to test efficiency and safety of all services yourself.
			|    We are also developing and suggesting you to try out the groundbreaking technology Hive, which is together with the business platform Profit will allow you not only to create smart-contracts, add your business and perform transactions without any fees, but also to test efficiency and safety of all services yourself.
			|    We are also developing and suggesting you to try out the groundbreaking technology Hive, which is together with the business platform Profit will allow you not only to create smart-contracts, add your business and perform transactions without any fees, but also to test efficiency and safety of all services yourself.

		.it-main-page__all-title
			|	Solution
		.it-main-page__all-text(data-show-more-item="overview")
			|    Everything mentioned above is the result of our team’s hard work, we spent more than two years doing it, and we are happy to present you with what we have achieved so far.
			|    Everything mentioned above is the result of our team’s hard work, we spent more than two years doing it, and we are happy to present you with what we have achieved so far.
			|    Everything mentioned above is the result of our team’s hard work, we spent more than two years doing it, and we are happy to present you with what we have achieved so far.
			|    Everything mentioned above is the result of our team’s hard work, we spent more than two years doing it, and we are happy to present you with what we have achieved so far.
			|    Everything mentioned above is the result of our team’s hard work, we spent more than two years doing it, and we are happy to present you with what we have achieved so far.

		.it-main-page__all-title
			|	Detailed decription
		.it-main-page__all-text(data-show-more-item="overview")
			|    Our team has been working on Paymon since 2016. This project is going to simplify the interaction between cryptocurrency holders
			|    Our team has been working on Paymon since 2016. This project is going to simplify the interaction between cryptocurrency holders
			|    Our team has been working on Paymon since 2016. This project is going to simplify the interaction between cryptocurrency holders
			|    Our team has been working on Paymon since 2016. This project is going to simplify the interaction between cryptocurrency holders
			|    Our team has been working on Paymon since 2016. This project is going to simplify the interaction between cryptocurrency holders
		.it-main-page__all-more(data-show-more-half="Hide details" data-show-more-blocks="overview")
			span.it-main-page__all-more-text(data-show-more-half-text)
				|    Show details
		.it-hidden#it-overview-text(data-show-more-text)
			|	lorem ipsummlmksjvfljslkdjfvlksjdfvkjs jsdfhsljkdfjlksn fdsdljkfhsvlkjn  sdfjslkjdhflskjf ahdfljksdhdfljhs afjdhajklshfljkhas ashdfkjhkj
		a(href="#it-overview-text").it-main-page__all-more(data-show-more-button="Close more" )
			span.it-main-page__all-more-text(data-show-more-text)
				|	View more about features and solution
		.it-main-page__all-subtitle
			|	Additional links
		ul.it-overview__link-list
			li.it-overview__link-item
				a(href="#").it-overview__link.it-link
					|	Whitelist

			li.it-overview__link-item
				a(href="#").it-overview__link.it-link
					|	Bounty program

			li.it-overview__link-item
				a(href="#").it-overview__link.it-link
					|	Bluepaper

			li.it-overview__link-item
				a(href="#").it-overview__link.it-link
					|	Airdrop





