section.it-roadmap#it-roadmap
	.it-all-title
		|	Roadmap
	ul.it-roadmap__wrap
		li.it-roadmap__item(data-step-item)
			.it-roadmap__title
				|	January — February — March 2018
			.it-roadmap__subtitle
				|	Whitepaper Announcement
			.it-roadmap__desc
				|	Start the company. The token whitepaper provides a deep dive into Blockstack Token.
		li.it-roadmap__item(data-step-item)
			.it-roadmap__title
				|	April 2018
			.it-roadmap__subtitle
				|	Main Sale Ends
			.it-roadmap__desc
				|	Full e-commerce solution & exchange to fiat currency
		li.it-roadmap__item(data-step-item)
			.it-roadmap__title
				|	Q3 2018
			.it-roadmap__subtitle
				|	Main Sale Ends
			.it-roadmap__desc
				|	Mobile App - Real world TIPbot Launch
		li.it-roadmap__item(data-step-item)
			.it-roadmap__title
				|	32 July 2018
			.it-roadmap__subtitle
				|	Main Sale Ends
			.it-roadmap__desc
				|	Participation becomes no longer possible