section.it-sale-schedule
	.it-all-title
		|    Sale schedule
	.it-sale-schedule__wrap#it-sale-schedule__wrap(data-scroll-hide-wrap)
		table.it-sale-schedule__table(data-scroll-hide)
			tbody
				tr.it-sale-schedule__row
					th
						|    Round
					th
						|    Token Price
					th
						|    Bonus
					th
						|    Min. Purchase
					th
						|    For sale
				tr.it-sale-schedule__row.it-sale-schedule__row---top
					td.active
						|    Public sale  — Soon
						br
						|    26 Jan, 2018 14:00 UTC
						br
						|    02 Feb, 2018 00:00 UTC
					td
						|    1 USD
					td
						|    0%
					td
						|    —
					td
						|    15%
						br
						|    900 000 WTF
				tr.it-sale-schedule__row.active
					td
						|    Pre sale #2 — Active
						br
						|    26 Jan, 2018 14:00 UTC
						br
						|    02 Feb, 2018 00:00 UTC
					td
						|    0.018 USD
					td
						|   15%
					td
						|    500 WTF
						br
						|	198 USD
					td
						|	25%
						br
						|    1 300 000 WTF
				tr.it-sale-schedule__row
					td
						|   Private sale — Ended
						br
						|    26 Jan, 2018 14:00 UTC
						br
						|    02 Feb, 2018 00:00 UTC
					td
						|   0.001 USD
					td
						|  50%
					td
						|    15 000 WTF
						br
						|	24 950  USD
					td
						|	15%
						br
						|    900 000 WTF
				tr.it-sale-schedule__row
					td
						|    Pre sale #1 — Ended
						br
						|    26 Jan, 2018 14:00 UTC
						br
						|    02 Feb, 2018 00:00 UTC
					td
						|    0.015 USD
					td
						|   20%
					td
						|   1500 WTF
						br
						|	1 150  USD
					td
						|	25%
						br
						|    1 300 000 WTF
	.it-hidden#it-vesting-and-bonus-text(data-show-more-text)
		|    lorem ipsummlmksjvfljslkdjfvlksjdfvkjs jsdfhsljkdfjlksn fdsdljkfhsvlkjn  sdfjslkjdhflskjf ahdfljksdhdfljhs afjdhajklshfljkhas ashdfkjhkj
	a(href="#it-vesting-and-bonus-text").it-main-page__all-more(data-show-more-button="Close vesting and bonus" )
		span.it-main-page__all-more-text(data-show-more-text)
			|   Read more about vesting and bonus
