.it-social
	ul.it-social__list
		//li.it-social__item
		//	a(href="#").it-social__link
		//		svg(width="39" height="30").it-social__img-box
		//			defs
		//				filter#it-svg-filter--grey
		//					feColorMatrix(type="saturate" values="0")
		//			image.it-social__img(  xlink:href="assets/img/crypto/activity/social/1.svg")
		li.it-social__item
			a(href="#").it-social__link
				.it-social__img-box
					img(src="assets/img/crypto/activity/social/fb.svg", alt='' filter="url(#it-svg-filter--grey)").it-social__img
					img(src="assets/img/crypto/activity/social/fb-hov.svg", alt='' filter="url(#it-svg-filter--grey)").it-social__img.it-social__img-hov
		li.it-social__item
			.it-social__img-box
				a(href="#").it-social__link
					img(src="assets/img/crypto/activity/social/tw.svg", alt='' filter="url(#it-svg-filter--grey)").it-social__img
					img(src="assets/img/crypto/activity/social/tw-hov.svg", alt='' filter="url(#it-svg-filter--grey)").it-social__img.it-social__img-hov
		li.it-social__item
			.it-social__img-box
				a(href="#").it-social__link
					img(src="assets/img/crypto/activity/social/vk.svg", alt='').it-social__img
					img(src="assets/img/crypto/activity/social/vk-hov.svg", alt='').it-social__img-hov