section.it-team#it-team
	ul.it-team__outer-wrap
		li.it-team__outer-item
			.it-all-title
				|	Team
			.it-team__wrap
				.it-main-page__all-text
					|	Hello world, that text about team based on my bad english, but i need to  write something because use lorem ipsum — bad way
			ul.it-team__list
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|	Joachim M Steffensen
								.it-team__desc
									|	Chieef Excuve Office, USA
					ul.it-team__bottom
						li.it-team__social-img-box
				li.it-team__item
					.it-team__top
						.it-team__top-half.it-team__top-half--left
							.it-team__img-box
								img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|	Earl Dramoh
								.it-team__desc
									|	UI/UX Developer
					ul.it-team__bottom
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|	Joachim M Steffensen
								.it-team__desc
									|	Chieef Excuve Office, USA
					ul.it-team__bottom
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|    Joachim M Steffensen
								.it-team__desc
									|    Chieef Excuve Office, USA
					ul.it-team__bottom
						li.it-team__social-img-box
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|    Earl Dramoh
								.it-team__desc
									|    UI/UX Developer
					ul.it-team__bottom
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|    Joachim M Steffensen
								.it-team__desc
									|    Chieef Excuve Office, USA
					ul.it-team__bottom
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
		li.it-team__outer-item
			.it-main-page__all-subtitle
				|    Advisiors
			.it-main-page__all-text
				|    Hello world, that text about advisiors based on my bad english, but i need to  write something because use lorem ipsum — bad way
			ul.it-team__list
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|    Joachim M Steffensen
								.it-team__desc
									|    Chieef Excuve Office, USA
					ul.it-team__bottom
						li.it-team__social-img-box
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|    Earl Dramoh
								.it-team__desc
									|    UI/UX Developer
					ul.it-team__bottom
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
				li.it-team__item
					.it-team__top
						//.it-team__top-half.it-team__top-half--left
						//	.it-team__img-box
						//		img.it-team__img(src="assets/img/crypto/team/1.png", alt='')
						.it-team__top-half.it-team__top-half--right
							.it-team__content
								.it-team__title
									|    Joachim M Steffensen
								.it-team__desc
									|    Chieef Excuve Office, USA
					ul.it-team__bottom
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')
						li.it-team__social-img-box
							img.it-team__social-img(src="assets/img/crypto/team/fb.png", alt='')

