section.it-token#it-token
	ul.it-token__outer-wrap
		li.it-token__outer-item
			.it-all-title
				|	Token details
			.it-token__wrap(data-token-wrap)
				ul.it-token__details-list#it-token-details-list(data-token-list)
					li.it-token__details-item(data-token-item)
						span.it-token__details-key
							|    Token symbol
							span.it-token__details-prompt-button(data-prompt-button="23")
								|    ?
						span.it-token__dots
							|    :
						span.it-token__details-value
							| WTF
					li.it-token__details-item(data-token-item)
						span.it-token__details-key
							|   Escrow agent
							span.it-token__details-prompt-button(data-prompt-button)
								|    ?
						span.it-token__dots
							|    :
						span.it-token__details-value
							| No
					li.it-token__details-item(data-token-item)
						span.it-token__details-key
							|    Total supply
							span.it-token__details-prompt-button(data-prompt-button)
								|    ?
						span.it-token__dots
							|    :
						span.it-token__details-value
							| 1,000,000,000 WTF
					li.it-token__details-item(data-token-item)
						span.it-token__details-key
							|   Tokens for sale
							span.it-token__details-prompt-button(data-prompt-button)
								|    ?
						span.it-token__dots
							|    :
						span.it-token__details-value
							| (500,000,000 WTF) (500,000,000 WTF) (500,000,000 WTF) (500,000,000 WTF) (500,000,000 WTF) (500,000,000 WTF)
					li.it-token__details-item(data-token-item)
						span.it-token__details-key
							|   Tokens for sale
							span.it-token__details-prompt-button(data-prompt-button)
								|    ?
						span.it-token__dots
							|    :
						span.it-token__details-value
							| (500,000,000 WTF)
					li.it-token__details-item(data-token-item)
						span.it-token__details-key
							|   Tokens for sale
							span.it-token__details-prompt-button(data-prompt-button)
								|    ?
						span.it-token__dots
							|    :
						span.it-token__details-value
							| (500,000,000 WTF)
					li.it-token__details-hide(data-token-hide)
			a(href="#it-token-details-list").clear.it-main-page__all-more(data-show-more-half="Close details" )
					span.it-main-page__all-more-text(data-show-more-half-text)
						|	Get details
			//.it-hidden#it-token-text(data-show-more-text)
			//	|    lorem ipsummlmksjvfljslkdjfvlksjdfvkjs jsdfhsljkdfjlksn fdsdljkfhsvlkjn  sdfjslkjdhflskjf ahdfljksdhdfljhs afjdhajklshfljkhas ashdfkjhkj
			//a(href="#it-token-text").it-main-page__all-more(data-show-more-button="Close details" )
			//	span.it-main-page__all-more-text(data-show-more-text)
			//		|	Get details
		//li.it-token__outer-item
		//	.it-all-title
		//		|    Token and Funds Distribution
		//	.it-main-page__all-title
		//		|    Token distribution date
		//	.it-main-page__all-text
		//		|    Token will be distributed  within 48 hours of payment
		//	.it-main-page__all-title
		//		|    Allocatione
		//	.it-main-page__all-text
		//		|    Whitelist only. Max cap per participant
		//	.it-main-page__all-title
		//		|    Vesting periode
		//	.it-main-page__all-text
		//		|    Hello world, period of westing based on my bad english, but i need to write something  because use lorem ipsum — bad way
		//	.it-main-page__all-title
		//		|    Additional bonus or distributing note
		//	.it-main-page__all-text
		//		|    Hello world, period of westing based on my bad english, but i need to write something  because use lorem ipsum — bad way
		//	.it-hidden#it-ditribution-text(data-show-more-text)
		//		|    lorem ipsummlmksjvfljslkdjfvlksjdfvkjs jsdfhsljkdfjlksn fdsdljkfhsvlkjn  sdfjslkjdhflskjf ahdfljksdhdfljhs afjdhajklshfljkhas ashdfkjhkj
		//	a(href="#it-ditribution-text").it-main-page__all-more(data-show-more-button="Close ditribution" )
		//		span.it-main-page__all-more-text(data-show-more-text)
		//			|   Show ditribution
		//	.it-token__card
		//		ul.it-token__card-outer-wrap
		//			li.it-token__card-outer-item
		//				include chart
		//			li.it-token__card-outer-item
		//

