section.it-tranding
	.it-container
		.it-all-title
			| Hotest & Tranding ICO
		.it-tranding__wrap
			ul.it-tranding__list.box-carousel.owl-carousel(data-owl-items='3', data-owl-items-Pad="2" data-owl-items-loop='false', data-owl-carousel,  data-owl-items-autoplay='false' data-owl-items-margin-mobile="1")
				li.it-tranding__item
					a(href="#").it-tranding__link
						.it-tranding__img-box
							img.it-tranding__img(src='assets/img/crypto/tranding/1.jpg', alt='')
						.it-tranding__content
							.it-tranding__content-half.it-tranding__content-half--top
								.it-tranding__status
									|    Pre-sale
							.it-tranding__content-half.it-tranding__content-half--bottom
								.it-tranding__title
									| Eligma
							.it-tranding__img-logo-box
								img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/1.png', alt='')
				li.it-tranding__item
					a(href="#").it-tranding__link
						.it-tranding__img-box
							img.it-tranding__img(src='assets/img/crypto/tranding/2.jpg', alt='')
						.it-tranding__content
							.it-tranding__content-half.it-tranding__content-half--top
								.it-tranding__status
									| active
							.it-tranding__content-half.it-tranding__content-half--bottom
								.it-tranding__title
									| Simply Vital Health
							.it-tranding__img-logo-box
								img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/2.png', alt='')
				li.it-tranding__item
					a(href="#").it-tranding__link
						.it-tranding__img-box
							img.it-tranding__img(src='assets/img/crypto/tranding/3.jpg', alt='')
						.it-tranding__content
							.it-tranding__content-half.it-tranding__content-half--top
								.it-tranding__status.it-tranding__status--color
									|    upcoming main sale
							.it-tranding__content-half.it-tranding__content-half--bottom
								.it-tranding__title
									| Welltrado
							.it-tranding__img-logo-box
								img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/3.png', alt='')
				li.it-tranding__item
					a(href="#").it-tranding__link
						.it-tranding__img-box
							img.it-tranding__img(src='assets/img/crypto/tranding/4.jpg', alt='')
						.it-tranding__content
							.it-tranding__content-half.it-tranding__content-half--top
								.it-tranding__status
									|    Pre-sale
							.it-tranding__content-half.it-tranding__content-half--bottom
								.it-tranding__title
									| Eligma
							.it-tranding__img-logo-box
								img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/4.png', alt='')
				li.it-tranding__item
					a(href="#").it-tranding__link
						.it-tranding__img-box
							img.it-tranding__img(src='assets/img/crypto/tranding/4.jpg', alt='')
						.it-tranding__content
							.it-tranding__content-half.it-tranding__content-half--top
								.it-tranding__status
									|    Pre-sale
							.it-tranding__content-half.it-tranding__content-half--bottom
								.it-tranding__title
									| Eligma
							.it-tranding__img-logo-box
								img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/4.png', alt='')
				li.it-tranding__item
					a(href="#").it-tranding__link
						.it-tranding__img-box
							img.it-tranding__img(src='assets/img/crypto/tranding/4.jpg', alt='')
						.it-tranding__content
							.it-tranding__content-half.it-tranding__content-half--top
								.it-tranding__status
									|    Pre-sale
							.it-tranding__content-half.it-tranding__content-half--bottom
								.it-tranding__title
									| Eligma
							.it-tranding__img-logo-box
								img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/4.png', alt='')
			.it-tranding__buttons-wrap
				.it-tranding__buttons.it-tranding__buttons--hide
					.it-btn.it-tranding__btn
						|    browse all ico
				.it-tranding__buttons.it-tranding__buttons--size.it-tranding__buttons--hide
					.it-btn.it-tranding__btn.it-btn--all-transparent
						|    What is ICO?

