@import "../__vars";
@import "../__mixins";
@import "../smart-grid";



.it-categories__wrap {
}

.it-categories__list {
  padding: 0 0 40px;
  @include row-flex();
  margin-bottom: -30px;
  @include phones {
    border-top: 1px solid rgba(229, 229, 229, 1);;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}

.it-categories__item {
  @include col();
  @include size(6);
  @include size-xs(12);
  margin-bottom: 30px;
  list-style-type: none;
  background-color: #ffffff;
  border-left: 1px solid rgba(229, 229, 229, 1);
  border-right: 1px solid rgba(229, 229, 229, 1);
  border-top: 1px solid rgba(229, 229, 229, 1);;
  border-bottom: 1px solid rgba(229, 229, 229, 1);

  @include phones {
    margin-bottom: 0;
    border-top: none;
    border-left: none;
    border-right: none;

  }
}


.it-categories__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 5px 35px;
  transition: 0.2s;
  @include phones {

    padding: 8.5px 10px;
  }
}

.it-categories__link:hover {
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.it-categories__link:active,
.it-categories__link:visited {
  text-decoration: none;
}

.it-categories__link:hover {
  background-color: #3EC7C6;
}

.it-categories__link:hover .it-categories__title {
  color: #ffffff;
}

.it-categories__link:hover .it-categories__value,
.it-categories__link:hover .it-categories__title,
.it-categories__link:hover .it-categories__value span {
  color: #ffffff;
}

.it-categories__content {
  flex-grow: 1;
  flex-basis: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-right: 1%;
  order: 1;
  @include phones {
    order: 2;
  }
}

.it-categories__title {
  color: #1E1E1E;
  font-size: rem(30px);
  font-weight: 500;
  margin-right: 8px;
  transition: 0.2s;
  @include desktop {
    font-size: rem(26px);
    flex-basis: 100%;
  }
  @include laptop {
    font-size: rem(22px);
  }
  @include tablets {
    font-size: rem(18px);
  }
  @include phones {
    flex-basis: auto;
    font-size: 16px;
  }
}

.it-categories__value,
.it-categories__value span {
  color: #828282;
  font-size: rem(18px);
  font-weight: 500;
  line-height: 2;
  transition: 0.2s;
  @include laptop {
    font-size: rem(16px);
    line-height: 1.4;
  }
  @include phones {
    font-size: 14px;
  }

}

.it-categories__img-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  order: 2;

  @include laptop {
    max-width: 60px;
    height: 60px;
  }
  @include phones {
    order: 1;
    max-width: 33px;
    height: 33px;
    margin-right: 20px;
  }
}

.it-categories__inner-img-box {
  position: relative;
}

.it-categories__img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: 0.2s;

}

.it-categories__img--hov {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

}

.it-categories__link:hover .it-categories__img {
  opacity: 0;
}

.it-categories__link:hover .it-categories__img.it-categories__img--hov {
  opacity: 1;
}


.it-categories__buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include phones {
      justify-content: flex-start;
  }
}

.it-categories__buttons {
  max-width: 233px;
  width: 100%;
  @include phones {
    max-width: 175px;
    padding-left: 15px;
  }
}


.it-categories__buttons--size {
  max-width: 160px;
  margin-right: 50px;
}

.it-categories__text {
  @include phones {
    display: none;
  }
}

.it-categories__brackets {
  display: none;
  @include phones {
    display: inline;
  }
}


.it-categories__buttons--hide {
  @include phones {
    display: none;
  }
}