@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-order {
  background-color: #ffffff;
  @include phones {

  }
}

.it-order__wrap {
  @include row-flex();
  @include phones {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
  }
}


.it-order__half--left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include col();
  @include size(5);
  @include size-xs(12);
  order: 1;
  @include phones {
      order: 2;
    margin: 0;
    width: 100%;
  }
}

.it-order__half--right {
  @include col();
  @include size(7);
  @include size-xs(12);
  order: 2;
  @include phones {
    order: 1;
    margin: 0;
    width: 100%;
  }
}

.it-order__title {
  font-weight: 900;
  font-size: rem(36px);
  color: #333333;
  margin-bottom: 10px;
  @include phones {
    font-size: 16px;
    font-weight: 700;
  }
}

.it-order__desc {
  font-size: rem(20px);
  font-weight: 500;
  color: #4F4F4F;
  margin-bottom: 30px;
  @include phones {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.it-order__buttons {
  max-width: 230px;
  width: 100%;
  @include phones {
    max-width: 165px;
  }
}

.it-order__content {
  padding: 20px 20px;

}

.it-order__img-box {
  @include phones {
    overflow: hidden;

  }
}

.it-order__img {
  @include phones {
    min-width: 100%;
    display: block;
    height: auto;
  }
}
